@model BarbieQ.Models.ViewModels.IndexViewModel;
@{
    Layout = "Layout";

}

<section class="poster">
    <img alt="poster" src="~/img/posters/poster1.jpg" />
    <div>
        <h1>Drop dead gorgeous!</h1>
        <p>Ya esta aqui la coleccion Vaquera</p>
        <button>AJUAAAAA!</button>
    </div>
</section>
<section class="ultimos-agregados">
    <!--Aqui el servicio se traera los ultimos 3 productos agregados-->
    @foreach (var item in Model.Ultimos3Productos)
    {
        <div class="ultimos-agregados-item">
            <div class="stack-img">
                
                
                    <img alt="x" src="~/img/productos/@(item.Id).jpg" />
                    <img alt="y" src="~/img/productos/@(item.Id)_alternate.jpg" />
                
            </div>

            <h2>@item.Nombre</h2>

            <p>@item.Precio.ToString("c")</p>

            <a href="~/Home/VerProducto/@(item.Nombre.Replace(" ","-"))" class="boton-producto">VER PRODUCTO</a>

           
        </div>
    }
   

    
</section>

<section class="poster newsletter">
    <img alt="poster" src="~/img/posters/newsletter.jpg" />
    <div>
        <h1>Subscribete!!</h1>
        <p>Te avisaremos de ofertas y nuevos productos ;)</p>
        <input type="email" placeholder="Ingresa tu correo"></input>
        <a href="/suscribir" class="boton-producto">SUSCRIBIR</a>
    </div>
</section>

<div class="mas-vendidos-container fondo-rosa">
    <h1 class="titulo-mas-vendidos">Los favoritos de la temporada</h1>

    <section class="ultimos-agregados mas-vendidos">
       @* siempre seran 12 *@
        
       @foreach (var item in Model.ProductosFavoritos)
        {
            <div class="ultimos-agregados-item">
                <div class="stack-img">
                 
                    
                        <img alt="x" src="~/img/productos/@(item.Id).jpg" />
                        <img alt="y" src="~/img/productos/@(item.Id)_alternate.jpg" />
                    
                   

                </div>

                <h2>@item.Nombre</h2>

                <p>@item.Precio.ToString("c")</p>

                <a href="~/Home/VerProducto/@(item.Nombre.Replace(" ","-"))" class="boton-producto">VER PRODUCTO</a>
            </div>
        }

    </section>
</div>


<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-3dafe3bd-63c5-4236-8e84-cb2d6eb8f4ea instafeed" data-elfsight-app-lazy></div>
<a href="~/Home/Carrito" class="carrito">
    <img src="~/img/carrito.png">
    <p class="carrito-items-count">@Model.TotalCarrito</p>
</a>


<div class="modal">
</div>

