@model BarbieQ.Models.ViewModels.CategoriaViewModel;
@{
    Layout = "Layout";
}


@* <p class="disclaimer">Envio gratis en pedidos arriba de $500 pesos</p>
<nav>
    <a href="/categoria.html">
        <img alt="iconcito" class="nav-icon" src="/img/nav/blush.jpg" />
        <p>Blush</p>
    </a>
    <a href="/categoria.html">
        <img alt="iconcito" class="nav-icon" src="/img/nav/bronzer.jpg" />
        <p>Bronzer</p>
    </a>
    <a href="/home.html" class="logo">
        <img alt="logo" class="logo" src="/img/logo sin fondo.png" />
    </a>

    <a href="/categoria.html">
        <img alt="iconcito" class="nav-icon" src="/img/nav/ojos.png" />
        <p>Ojos</p>
    </a>
    <a href="/categoria.html">
        <img alt="iconcito" class="nav-icon" src="/img/nav/labios.jpg" />
        <p>Labios</p>
    </a>
</nav> *@

<section class="poster ">
    <img alt="poster" src="~/img/posters/banner@(ViewBag.banner).jpg" />
    <div>
        <h1>@Model.Nombre !!</h1>
        <p>@Model.Descripcion</p>
    </div>
</section>

<div class="mas-vendidos-container">

    <section class="ultimos-agregados mas-vendidos">
        @foreach (var item in Model.Productos)
        {
            <div class="ultimos-agregados-item">
                <div class="stack-img">
                    <img alt="x" src="~/img/productos/@(item.Id).jpg" />
                    <img alt="y" src="~/img/productos/@(item.Id)_alternate.jpg" />
                </div>

                <h2>@item.Nombre</h2>

                <p>@item.Precio</p>

                <a href="~/Home/VerProducto/@(item.Nombre.Replace(" ","-"))" class="boton-producto">VER PRODUCTO</a>
            </div>
        }
       
        

    </section>
</div>

<p class="conteo-productos">Estas viendo los @(Model.CantidadProductos) productos de la categoria de @(Model.Nombre).</p>

